/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';
@import '../server/views/detail.css';

/* component styling */
@import '../server/components/sidebar/sidebar.css';
@import '../server/components/selectAgent/selectAgent.css';
@import '../server/components/stratmap/stratmap.css';
@import '../server/components/streamCapture/streamCapture.css';

:root {
  --color-text: white;
}

*, *::before, *::after {
  box-sizing: border-box
}


body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}

h1, h2, p, figcaption {
  color: var(--color-text);
}

button {
  clip-path: polygon(6% 13%, 34% 0, 71% 9%, 100% 4%, 100% 88%, 82% 96%, 42% 94%, 0 100%);
  padding: 0.3rem 0.7rem;
  border: none;
  background-color: lightskyblue;
  color: white;
}

button:hover {
  background-color: white;
  color: lightskyblue;
  cursor: pointer;
}