body {
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  grid-area: title;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}


.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p { 
  line-height: 1.5rem;
}