:root {
  color-scheme: light dark;
}

header {
  padding: 1rem;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  display: flex;
}

header ul {
  justify-content: space-around;
  width: 100%;
}




ul {
  display: flex;
}

footer {
  padding: 1rem;
}


