<section class="stratmap" id="target">
    {% comment %} <form method="post" action="/map/{{ strategyID }}"> {% endcomment %}
    {% for map in maps %}
        {% if strategy.mapID == map.uuid %}
            <img src={{ map.displayIcon }} id="shownMap" alt="The current map that is being showed"  >
        {% endif %}
        {% endfor %}
       
        {% comment %} <button type="submit">Save</button>
    </form> {% endcomment %}
</section>