{% layout "server/layouts/base.liquid" %}

{% block content %}
<main class="homepage">

        {% render '../components/createStrategy/createStrategy.liquid', maps: maps, strategyID: strategyID %}

        {% render '../components/selectAgent/selectAgent.liquid', agents: agents, strategy: strategy, showAbilities: false
         %}
        
        {% endblock %}

</main>