{% layout "server/layouts/base.liquid" %}

{% block content %}
<main class="homepage">
    <div>
        <h1 class="h1">{{ title }}</h1>

        {% render '../components/createStrategy/createStrategy.liquid', maps: maps, strategyID: strategyID %}
        
        {% endblock %}
    </div>

