{% layout "server/layouts/base.liquid" %}

{% block content %}
<main class="homepage">
  


        {% render '../components/createStrategy/createStrategy.liquid', maps: maps, strategyID: strategyID %}
        
        {% endblock %}

</main>