{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>

{% render '../components/sidebar/sidebar.liquid', maps: maps %}

{% render '../components/stratmap/stratmap.liquid', maps: maps %}

{% render '../components/selectAgent/selectAgent.liquid', agents: agents %}

{% endblock %}
