{% layout "server/layouts/base.liquid" %}

{% block content %}
<main class="strategy">
    <h1 class="h1">{{ strategy.name }}</h1>
    <div>
        

        {% render '../components/sidebar/sidebar.liquid', maps: maps, strategy: strategy %}
        
        {% render '../components/stratmap/stratmap.liquid', maps: maps, strategy: strategy %}
        
        {% render '../components/selectAgent/selectAgent.liquid', agents: agents, query: query %}
        
        {% endblock %}
    </div>
</main>
