<section>
    <p>
  This example shows you the contents of the selected part of your display.
  Click the Start Capture button to begin.
</p>


<br />

<strong>Log:</strong>
<br />
<pre id="log"></pre>

</section>