.selectAgent {
    --agent-width: 150px;
    overflow-x: scroll;
    display: grid;
    grid-area: selectAgent;
    position: relative;
}

.agentCard {
    width: var(--agent-width);
    img {
        width: 100%;
        height: auto;
    }
    /* anchor-name: --anchor-abilities; */
}

.abilities {
    position: absolute;
    background-color: cornflowerblue;
    display: flex;
    max-width: calc(var(--agent-width) * 1.5);
    li {
        position: relative;
        width: 25%;
    }
    figure {
        padding: 1rem;
    }
    figcaption {
        color: white;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.5em;
        white-space: nowrap;
    }

}